<div id="section-modal">
  <div class="modal-header">
    <button type="button" class="close" ng-click="ctrl.cancel()">
      &times;
    </button>
    <h3 class="modal-title" id="modal-title">Internal Control</h3>
  </div>
  <div class="modal-body" id="modal-body">
    <ng-form name="ctrl.form">
      <div class="form-group">
        <label for="InternalControlID" class="control-label required"
          >Internal Control ID</label
        >
        <input
          type="text"
          class="form-control"
          name="InternalControlID"
          id="InternalControlID"
          ng-model="ctrl.item.Title"
          required
        />
        <span
          class="error-msg"
          ng-show="ctrl.form.InternalControlID.$touched && ctrl.form.InternalControlID.$invalid"
          >Internal Control ID is required.</span
        >
      </div>
      <div class="form-group">
        <label for="InternalControlDescription" class="control-label required"
          >Internal Control Description</label
        >
        <textarea
          rows="3"
          class="form-control"
          name="InternalControlDescription"
          id="InternalControlDescription"
          ng-model="ctrl.item.InternalControlDescription"
          required
        ></textarea>
        <span
          class="error-msg"
          ng-show="ctrl.form.InternalControlDescription.$touched && ctrl.form.InternalControlDescription.$invalid"
          >Internal Control Description is required.</span
        >
      </div>
    </ng-form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ctrl.ok()">
      OK
    </button>
    <button class="btn btn-warning" type="button" ng-click="ctrl.cancel()">
      Cancel
    </button>
  </div>
</div>
