#assign-form .sections-header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
  margin-bottom: 1em;
}
#assign-form .sections-header i {
  margin-left: 5px;
  padding-bottom: 3px;
  cursor: pointer;
}
